* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A1A2E;
  color: #EAEAEA;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

img,
video {
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1F4068;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ADB5;
  border-radius: 10px;
  border: 2px solid #162447;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #028090;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background: #1F4068;
}
